
@{
    ViewBag.Title = "Index";
}

<div class="d-flex flex-column">
    <div class="d-flex pb-4 w-75 mx-auto align-items-center">
        <div class="w-50 me-5">
            <img src="~/Content/Img/logo.jpg" alt="logo" class="w-100" style="border-radius: 3em 0 3em 0"/>
        </div>
        <h1 class="w-50 display-4 fw-bold">SpeedoLogistica.<br>Il Mondo in:<br>- Movimento<br>- Velocità<br>- Affidabilità</h1>
    </div>
    <div class="border border-3 border-success p-4 fs-4 text-center rounded-3">
        SpeedoLogistica: Consegne Veloci e Sostenibili. <br />La nostra promessa è semplice: spedizioni rapide e affidabili con un'impronta ecologica ridotta. Siamo il vostro partner per il futuro delle spedizioni.
    </div>
</div>

